
main{
    background-image: url(/assets/img/playa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.planes-card{
    background-color: aliceblue;
}