* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


h1 {
    text-align: center;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    height: 5em;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

header div {
    margin: 3em;
}

#menu a {
    color: black;
    text-decoration: none;
    margin: 10px;
}

#presentacion {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgb(71, 71, 71);
    
}

#presentacion img {
    filter: opacity(0.6);

}

#presentacionText {
    position: absolute;
    color: whitesmoke;
    z-index: 10;
    text-align: center;
}

#presentacionText span {
    font-size: 6em;
}

#presentacionDescripcion {
    width: 35vw;
}

#planes-seccion {
    padding-top: 3em;
    padding-bottom: 3em;
}

#planes {
    text-align: center;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.planes-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 30px;
    width: 20em;
    height: 30em;
    background-color: darkslategray;
    margin: 10px;
    padding: 10px;
}

.planes-card img {
    border-radius: 10px;
    
}

.planes-card p {

}

.comprarPlanBoton {
    height: auto;
    bottom: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;

    background-color: black;
    color: white;
    box-sizing: content-box;
}


#map-div {
    margin: 2em;
    width: fit-content;
    height: inherit;
    display: inline;
}

#sociales {
    margin: 10em;
    position: relative;
    left: 0;
}

footer span {
    min-width: 100%;
    text-align: center;
}

.white-icon {
    color: white;
}

button {
    padding: 1em;
    border-style: none;
    border-radius: 10px;
    box-sizing: content-box;
    background-color: whitesmoke;
}